<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="row">
      <h1 class="mx-5" >Your fingerprint:</h1>
      <h1 id="fp"></h1>

  </div>
  <div class="row">
      <h2 class="mx-5" >Time:</h2>
      <h2 id="time"></h2>
  </div>
  <table class="table table-hover">
      <thead>
      <tr>
          <th scope="col">Parameter</th>
          <th scope="col">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <th scope="row" id="userAgent"></th>
          <td id="userAgentVal"></td>
      </tr>
      <tr>
          <th scope="row" id="language"></th>
          <td id="languageVal"></td>
      </tr>
      <tr>
          <th scope="row" id="colorDepth"></th>
          <td id="colorDepthVal"></td>
      </tr>
      <tr>
          <th scope="row" id="screenResolution"></th>
          <td id="screenResolutionVal"></td>
      </tr>
      <tr>
          <th scope="row" id="pixelRatio"></th>
          <td id="pixelRatioVal"></td>
      </tr>
      <tr>
          <th scope="row" id="hardwareConcurrency"></th>
          <td id="hardwareConcurrencyVal"></td>
      </tr>
      <tr>
          <th scope="row" id="availableScreenResolution"></th>
          <td id="availableScreenResolutionVal"></td>
      </tr>
      <tr>
          <th scope="row" id="timezoneOffset"></th>
          <td id="timezoneOffsetVal"></td>
      </tr>
      <tr>
          <th scope="row" id="timezone"></th>
          <td id="timezoneVal"></td>
      </tr>
      <tr>
          <th scope="row" id="sessionStorage"></th>
          <td id="sessionStorageVal"></td>
      </tr>
      <tr>
          <th scope="row" id="localStorage"></th>
          <td id="localStorageVal"></td>
      </tr>
      <tr>
          <th scope="row" id="indexedDb"></th>
          <td id="indexedDbVal"></td>
      </tr>
      <tr>
          <th scope="row" id="addBehavior"></th>
          <td id="addBehaviorVal"></td>
      </tr>
      <tr>
          <th scope="row" id="openDatabase"></th>
          <td id="openDatabaseVal"></td>
      </tr>
      <tr>
          <th scope="row" id="cpuClass"></th>
          <td id="cpuClassVal"></td>
      </tr>
      <tr>
          <th scope="row" id="platform"></th>
          <td id="platformVal"></td>
      </tr>
      <tr>
          <th scope="row" id="plugins"></th>
          <td id="pluginsVal"></td>
      </tr>
      <tr>
          <th scope="row" id="canvas"></th>
          <td id="canvasVal"></td>
      </tr>
      <tr>
          <th scope="row" id="webgl"></th>
          <td id="webglVal"></td>
      </tr>
      <tr>
          <th scope="row" id="webglVendorAndRenderer"></th>
          <td id="webglVendorAndRendererVal"></td>
      </tr>
      <tr>
          <th scope="row" id="useAdBlock"></th>
          <td id="adBlockVal"></td>
      </tr>
      <tr>
          <th scope="row" id="hasLiedLanguages"></th>
          <td id="hasLiedLanguagesVal"></td>
      </tr>
      <tr>
          <th scope="row" id="hasLiedResolution"></th>
          <td id="hasLiedResolutionVal"></td>
      </tr>
      <tr>
          <th scope="row" id="hasLiedOs"></th>
          <td id="hasLiedOsVal"></td>
      </tr>
      <tr>
          <th scope="row" id="hasLiedBrowser"></th>
          <td id="hasLiedBrowserVal"></td>
      </tr>
      <tr>
          <th scope="row" id="touchSupport"></th>
          <td id="touchSupportVal"></td>
      </tr>
      <tr>
          <th scope="row" id="fonts"></th>
          <td id="fontsVal"></td>
      </tr>
      <tr>
          <th scope="row" id="fontsFlash"></th>
          <td id="fontsFlashVal"></td>
      </tr>
      <tr>
          <th scope="row" id="audio"></th>
          <td id="audioVal"></td>
      </tr>
      <tr>
          <th scope="row" id="enumerateDevices"></th>
          <td id="enumerateDevicesVal"></td>
      </tr>
      </tbody>
  </table>
  <!--<pre id="details"></pre>-->

  <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/js/fingerprint2.min.js" th:src="@{/js/fingerprint2.min.js}"></script>
  <script type="text/javascript" src="../static/js/index.js" charset="utf-8" th:src="@{js/index.js}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
