<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>

</head>
<body>
  <h1>Your fingerprint</h1>
  <h1 id="fp"></h1>
  <h2>Time</h2>
  <h2 id="time"></h2>
  <pre id="details"></pre>
  <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/js/fingerprint2.min.js" th:src="@{/js/fingerprint2.min.js}"></script>
  <script type="text/javascript" src="../static/js/index.js" charset="utf-8" th:src="@{js/index.js}"></script>
</body>
</html>
